@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#logo{
  display: flex;
  color: white;
  align-items: center;
  margin: 0 14px;
  margin-right: 40px;
 
}

#logo img{
  height: 42px;
  filter: invert(1);
}

.card-box{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.card-img{
  height: 100px;
  padding: 0 14px;
  margin:12px 9px;
}

.card-img img{
  height: inherit;
}



#navbar {
  background-color: rgb(156, 24, 24);
  padding: 13px 14px;
  font-family: Ubuntu;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar li {
  list-style: none;

}

#navbar li a {
  text-decoration: none;
  padding: 7px 11px;
  color: white;
  
}


#introSection {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: center/cover no-repeat url("/static/bg.jpg");
  height: 300px;
  font-size: 35px;

}

#sponsorSection{
  height: 300px;
  background-color: grey;
}

#sponsors{
  height: 120px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;

}


.spImages{
  height: 80%;
  margin: 20px;


}

#sponsorSection h3{
  text-align: center;
  padding-top:12px;
}

#introSection div.small{
  font-size: 1rem;
}
.card{
  border:2px solid black;
  border-radius: 10px;
  width: 20%;
  margin: 23px 22px;
  height: 200px;
}
#missionSection{
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#missionSection h3{
  text-align: center;
  padding-top:12px;
  margin: auto;
}




#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  background-color: black;
}
